.album{
  margin-bottom: 100px;
}

.layout{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  border:solid 4px #F18BA2;
  border-radius:22px ;
  width: 225px;
  height: 75px;
  font-weight: 600;
  color: #414666;
  margin-bottom: 70px;
}

.slider{
  /*width:1500px;*/
  width: 100vw;
  height:300px;
}

.slide img{
  width:300px;
  height:300px;
  border: solid 1px #b3b4b4;
  margin: auto;
}

.slide {
  transform: scale(1);
  transition: 0.5s;
}
.slide p{
  display: none;
}

.activeSlide {
  transform: scale(1);
  composes:slide ;
}
.activeSlide p{
  display: flex;
}

.description{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  color: #414666;
}

.name{
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Kanit';
  margin-bottom: 1rem;
}
.albumName{
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Kanit';
}

.btn{
  display: flex;
  justify-content:space-around; 
  margin-top: 5rem;
}

.more{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.more p{
  display: flex;
  align-items: center;
  color: #F18BA2;
  justify-content: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Kanit';
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.more p:after{
  content: '';
  width: 0%;
  height: 1.5px;
  background-color: #F18BA2;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .3s linear;
}
.more p:hover::after{
  width: 60px;
}

@media (min-width: 768px) {
  .slide {
    transform: scale(0.6);
    transition: 0.5s;
  }
  .activeSlide {
    transform: scale(0.8);
    composes:slide ;
  }

}
@media (min-width: 992px) {
  .slide {
    transform: scale(0.7);
    transition: 0.5s;
  }
  .activeSlide {
    transform: scale(1.1);
    composes:slide ;
  }
}




